name: Upgrade Version

on:
  workflow_dispatch:
    inputs:
      palantir_version:
        description: 'New version of palantir-java-format (e.g. 2.84.0)'
        required: true

permissions:
  contents: write

jobs:
  upgrade:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check if tag exists
        run: |
          if git rev-parse "${{ github.event.inputs.palantir_version }}" >/dev/null 2>&1; then
            echo "Tag already exists!"
            exit 1
          fi

      - name: Upgrade version to ${{ github.event.inputs.palantir_version}}
        run: |
          mvn versions:set -DnewVersion=${{ github.event.inputs.palantir_version }}
          mvn versions:commit

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if [[ -n "$(git status --porcelain)" ]]; then
            git commit -am "Bump version to ${{ github.event.inputs.palantir_version }}"
            git push
          else
            echo "No changes to commit"
          fi
          
      - name: Create and push tag
        run: |
          git tag ${{ github.event.inputs.palantir_version }}
          git push origin ${{ github.event.inputs.palantir_version }}